@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/adventages';
@import 'blocks/consultation';
@import './blocks/forms';
@import './base/media';
* {
  font-family: 'Museo sans cyrl', sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
